# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build
.next
storybook-static

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
Thumbs.db
